certifi==2025.1.31
geopandas==1.0.1
numpy==2.2.3
packaging==24.2
pandas==2.2.3
psycopg2-binary==2.9.10
py4j==0.10.9.7
pyogrio==0.10.0
pyproj==3.7.1
pyspark==3.5.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
shapely==2.0.7
six==1.17.0
SQLAlchemy==2.0.38
typing_extensions==4.12.2
tzdata==2025.1
